<%-include("../layout/head", {title:"Tài khoản"})%>
    <%-include("../layout/header")%>
        <!-- =================================< Account Re-Password >============================ -->
        <div id="custummer">
            <div class="container">
                <div id="global-account">
                    <a href="/">Trang chủ</a> / <a href="/account-password"> <b>Thay đổi mật khẩu</b></a>
                </div>
            </div>
            <div id="custummer-main">
                <div class="container">
                    <div class="row">
                        <%-include("../layout/account_sidebar")%>
                        <div id="account-main" class="col-lg-9 col-md-8 col-sm-12">
                            <h3>Thay đổi mật khẩu</h3>
                            <table class="account-re-password">
                                <% if(data.error) { %>
                                    <div class="alert alert-danger"><%=data.error%></div>
                                <% } %>
                                <form action="/account-password" method="post">
                                    <tr>
                                        <td><label for="password">Mật khẩu cũ</label></td>
                                        <td><input type="text" name="password" required id="password" class="form-control"
                                                placeholder="Nhập lại mật khẩu cũ"></td>
                                    </tr>
                                    <tr>
                                        <td><label for="new_password">Mật khẩu mới</label></td>
                                        <td><input type="text" name="new_password" required id="new_password"
                                                class="form-control" placeholder="Nhập mật khẩu mới"></td>
                                    </tr>
                                    <tr>
                                        <td><label for="re_password">Nhập lại</label></td>
                                        <td><input type="text" name="re_password" required id="re_password"
                                                class="form-control" placeholder="Nhập lại mật khẩu mới"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><button type="submit">CẬP NHẬT</button></td>
                                    </tr>
                                </form>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- =================================< End Account Re-Password >========================= -->
        <%-include("../layout/footer")%>