<%-include("../layout/head", {title:"Sản phẩm"})%>
    <%-include("../layout/header")%>

    <!-- =================================< Search Filter List >============================ -->
    <div id="search-page">
        <div class="container">
            <div id="global-search">
                <a href="/">Trang chủ</a> / 
                <% if(!keyword){%>
                    <a href="/category-<%=category.slug%>.<%=category._id%>"> <b><%=category.title%></b></a>
                <% } else { %>
                    <a href="/search?keyword=<%=keyword%>"> <b>Tìm kiếm "<%=keyword%>"</b></a>
                <% } %>
            </div>
            <div class="row">
                <div id="search-page-l" class="col-lg-9 col-md-9 col-sm-12 mx-auto">
                    <%-include("../layout/search_list", products)%>
                    <% if(products.length < total_product) { 
                        if(!keyword) { %>
                            <div id="box-show-more"><a class="show-more" href="/search-filter-<%=category.slug%>.<%=category._id%>?price=<%=price%>&number=<%=products.length+limit%>">Xem thêm (còn <%= total_product - products.length %> sản phẩm)</a></div>
                        <% } else { %>
                            <div id="box-show-more"><a class="show-more" href="/search-filter?keyword=<%=keyword%>&price=<%=price%>&number=<%=products.length+limit%>">Xem thêm (còn <%= total_product - products.length %> sản phẩm)</a></div>
                        <% } %>
                    <% } else { %>
                        <div id="box-show-end"><span class="show-end">Hết sản phẩm !</span></div>
                    <% } %>
                </div>
                <div id="search-page-r" class="col-lg-3 col-md-3 col-sm-12 mx-auto">
                    <h3>GIÁ BÁN</h3>
                    <div id="filter-list">
                        <b><i class="far fa-check-square"></i><span><%=text%></span></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =================================< End Search Filter List >========================= -->
<%-include("../layout/footer")%>